<!DOCTYPE HTML>
{%load static%}
<html>	
<head>
	<meta charset="utf-8">
	<meta lang="ru">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static "main.css"%}">
</head>
<body>
	<div class='container shadow rounded mt-4'>
		<div class='avatar row justify-content-md-center p-5'>
			<div class='image_avatar col-'>
				<img src="{{request.user.avatar.url}}" class='' alt="Current avatar">
			</div>
			<div class='form_vatar pl-5 col- pt-5'>
				Change avatar
				<form method="POST" enctype="multipart/form-data" class='pt-2'>
					{%csrf_token%}
					<p>{{form.avatar}}</p>
					<p class='pt-4'>New email: {{form.email}}</p>
					<p class='pt-4'>New password: {{form.password}}</p>
					<p class='pt-4'>Password: {{form.old_password}}</p>
					<input class='btn btn-secondary' type='submit' value='Confirm'>
				</form>
			</div>
		</div>
	</div>
</body>
</html>